[2017-08-15 20:56] filipnyquist opened #1 "Importer needs to add the block that the claim was made in as depth wont work in a a plain-non-updating-all-claims database."

[2017-08-15 20:56] filipnyquist opened #2 "Clean up and lint importer code"

[2017-08-15 20:56] filipnyquist opened #3 "Create base of the API server with Nodejs v8 and koa"

[2017-08-15 20:57] filipnyquist opened #4 "Write documentation and add autodoc creation to the API server"

[2017-08-15 20:57] filipnyquist opened #5 "Ansible config for easy deployment"

[2017-08-15 21:11] filipnyquist opened #6 "Make the importer a module of the API server so we can control it from inside the API server."

[2017-08-16 17:51] #2 closed

[2017-08-16 17:51] #3 closed

[2017-08-17 08:45] filipnyquist commented on #6
Started working on this, expected to be done today.

[2017-08-17 10:09] #6 closed

[2017-08-17 10:12] filipnyquist opened #9 "Implent the search logic and sorting into the API"

[2017-09-05 15:30] filipnyquist commented on #1
Importer is now updated to use claimTrie and compare between versions of it, faster and better.
Closing this.

[2017-09-05 15:30] #1 closed

[2017-09-05 19:53] filipnyquist commented on #5
Ansible config is now done, located in /ansible-lighthouse, do not forget to update submodules before as we get roles via that. @lyoshenka

[2017-09-05 19:53] #5 closed

[2017-09-14 19:40] lyoshenka opened #12 "Exclude blocked content from search results"
List of blocked outpoints is at api.lbry.io/file/list_blocked

[2017-09-18 09:27] filipnyquist commented on #12
@lyoshenka , what is the output of endpoints?

[2017-09-18 13:20] lyoshenka commented on #12
Its a list of `outpoints`. An outpoint uniquely identifies a file. Its a combination of txid and nout of the publish for the file. It has the form `txid:nout`. For example, the outpoint for the current winning claim on `one` is `8e5d6945d238e8508520364d5eae7885b0db15d77d6d5cffee3f860dc13f0b45:0`

[2017-09-18 16:13] kauffj commented on #12
If possible, I would like lighthouse to return the quantity of blocked URLs (and possibly the list itself).

[2017-09-20 09:40] #9 closed

[2017-09-20 09:41] filipnyquist commented on #9
This is fixed in the latest merge.

[2017-09-20 19:05] wallermadev opened #16 "Prepare lighthouse for app integration."
search currently seems to work as it should and im starting to make the final changes for it to be `lbry-app` ready ideally i would like `lbry-app` to have minimal to no changes to be able to connect to lighthouse to make this happen the following needs to be done.

Required changes to lighthouse;
- [ ] Updating to `post`  as so it matches the prexisting call.

- [x]  Altering the response to only

[2017-09-20 19:30] wallermadev commented on #16
Response has be updated to only return `name` `claimId` and  `value`

[2017-09-20 19:51] kauffj commented on #16
@wallermadev it didn't need to match the old signature. I'd prefer we just pick a right/good signature.

I believe @hackrush already has app-side code changes to use what was on the search server currently.

[2017-09-20 20:21] filipnyquist commented on #16
Closing this for now.

[2017-09-20 20:21] #16 closed

[2017-09-22 22:32] filipnyquist opened #21 "Get config values from ~/.lbrycrd/lbrycrd.conf"
Get config values from  ~/.lbrycrd/lbrycrd.conf instead of set values.

[2017-09-22 22:32] filipnyquist commented on #21
Will be added tomorrow

[2017-09-22 22:33] filipnyquist opened #22 "claimTrieCache.json should be generated on first boot"
claimTrieCache.json should not exist in git but get generated on first launch.

[2017-09-22 22:33] filipnyquist commented on #22
Tomorrow morning.

[2017-09-22 22:46] lyoshenka opened #23 "Make ./gendb.sh idempotent"
Right now it errors if you run it a second time, saying "index exists". It should detect that it already created the db, and not try to do it a second time.

Ideally, this should be compatible with ansible somehow. Ansible needs to know when something changed vs nothing changed. For example, the script could exit with code 1 if nothing changed. Or maybe print a message to that effect.

[2017-09-24 16:28] filipnyquist commented on #4
Done

[2017-09-24 16:28] #4 closed

[2017-09-26 18:35] #21 closed

[2017-09-26 18:35] #23 closed

[2017-09-26 18:35] #22 closed

[2017-09-29 15:10] filipnyquist opened #26 "Add better error handling and logging!"
Add better error handling and logging sowe know when something goes wrong!

[2017-10-03 14:21] kauffj opened #27 "lighthouse.lbry.io should redirect to github repo"

[2017-10-03 14:54] filipnyquist commented on #27
@lyoshenka should it be the normal thing for the / route?

[2017-10-03 15:44] lyoshenka commented on #27
not sure what you mean. We want this so when ppl go to lighthouse.lbry.io, they see something useful.

[2017-10-03 15:47] filipnyquist commented on #27
I´ll get it to redir to the github page in the next version.

[2017-10-03 20:42] #27 closed

[2017-10-03 20:44] filipnyquist commented on #27
@lyoshenka this is now fixed

[2017-10-03 23:25] lyoshenka commented on #27
Awesome. ​Please deploy it :-)

On Tue, Oct 3, 2017 at 4:44 PM, filipnyquist <notifications@github.com>
wrote:

[2017-10-06 20:45] kauffj opened #29 "README should include information about live lighthouse instance(s)"
How do I connect to them? What is the API signature and/or where are the API docs located?

(I know the answers to these, but we're fine with people using this service other than us.)

[2017-10-07 17:02] filipnyquist commented on #29
Sounds good, will update the readme.

[2017-10-11 13:28] tzarebczan opened #30 "searching with lbry://xxxxx fails, bad request"
I just copy/pasted this url:lbry://ee-8blgmbXfDEc into search and I noticed a bad request return in the network logs - the top result is the exactly URL, but at the bottom you see:
[code]

I can see users copy/pasting URLs and running into this issue if they don't click Enter immediately.

[2017-10-11 13:35] kauffj opened #31 "Include full URLs in search results"
URLs are typically what will ultimately be resolved or used by a service or application utilizing the search API. So it'd probably make sense to just return these.

[2017-10-11 13:36] kauffj opened #32 "Weight search results by effective_amount"
Prompted by the fact that if I search "disaster", "It's A Disaster" is currently the third result.

[2017-10-11 15:50] tzarebczan opened #33 "searching nintendo does not bring up all results"
Searching for "nintendo" does not bring up lbry://re2-lA-q8DMm5r8#8e1e8b42451a0c0dc3db4e8b4f645f2ad802e665 which has "Nintendo Hardware and Revisitation - Rerez Talks" as the title.

[2017-10-11 17:44] wallermadev commented on #33
Will take a look at this as soon as possible,

Dev instance i have seems to return different results will take a look at implementation.

[2017-10-11 18:54] tzarebczan opened #34 "searching "retro games" brings back irrelevant results / searching with quotes"
See below for results searching "retro games". This may be a more general issue when searching with quotes
![quotes](https://user-images.githubusercontent.com/8120721/31460314-029e642e-ae94-11e7-9b02-6435c6ebeb6a.PNG)

[2017-10-11 18:58] tzarebczan opened #35 "cannot find claim with search terms from title"
cannot get this claim to show in search results: lbry://tbg-48Bm1Nlos-E#6f8e02e095aa6bf17e1e511b164974ba087fece4 when searching for Marathon / Retro Games / Live Stream

[2017-10-11 22:53] kauffj commented on #30
This will be fixed app side in next release.

[2017-10-12 15:16] hackrush01 opened #36 "Return all claims for a search term and not only from winning claim."
If I search for `one` it should show all the claims not only the winning claim. That's how content which is not winning could be discovered. I remember bringing it up earlier, but I forgot what was the verdict on it.

Additional input from @tzarebczan and @kauffj..?

Might be related to #32.

[2017-10-12 16:31] kauffj commented on #36
This is correct. All standing and valid claims should be searched. Being
the winning claim can be a weight.

On Oct 12, 2017 11:17 AM, "hackrush" <notifications@github.com> wrote:

[2017-10-12 17:20] filipnyquist commented on #36
I think we pull everything from the claimtrie(just resolvable and standing claims) as of now, as doing it the other way contained a lot of problems (from our internal meeting), we prob would need to write a big function to grab us all claims that can currently be resolved(old claims aswell?), this needs some thinking.

[2017-10-12 17:44] filipnyquist commented on #36
Talked with jack and tom on slack and we should be able to get the claimtrie and then use getclaimsforname for all claims in claimtrie, this would give us all claims resolvable.

[2017-10-12 17:50] #29 closed

[2017-10-12 20:07] tzarebczan opened #38 "searching for "aquarium" does not return correct result"
I'd expect this to return: lbry://lobstersr#057bbbff837c8c108dc6b5a8af20bcb3ab8ad31b

[2017-10-13 03:25] wilsonk commented on #30
This appears to be fixed in 0.17, I think. Can you confirm @tzarebczan? Maybe close?

[2017-10-13 03:27] tzarebczan commented on #30
Yep it is. I had a small comment in the PR maybe to remove LBRY:// (uppercase) too or make the check case insensitive.

[2017-10-13 03:27] #30 closed

[2017-10-13 13:55] kauffj commented on #30
Fixed case sensitivity

[2017-11-20 09:28] filipnyquist commented on #38
This should be fixed in the upcoming update to lighthouse, which will include full blockchain coverage and everything else needed to search the whole chain.

[2017-11-20 09:29] filipnyquist commented on #36
This will be fixed in the upcoming release of the big update to lighthouse which will index the whole chain and resolve this error.

[2017-12-15 23:07] BelfordZ opened #43 "Cannot connect to non-local cluster without editing code"
We should make the elasticsearch config something that can be modified by setting env or config.

[2017-12-21 23:32] tzarebczan opened #45 ""john cleese" search term does not return @JohnCleese channel"
Looks like search has issues with multi term queries

[2017-12-22 19:49] lyoshenka commented on #38
@filipnyquist is this fixed?

[2018-02-13 21:45] lbrydocs opened #47 "lighthouse documentation is not working"
Try the autocomplete function here, it fails:

https://lbryio.github.io/lighthouse/

[2018-03-06 03:19] tiger5226 commented on #45
Hi Tom,

I think I found the problem while looking into a different issue with lighthouse. In december

https://github.com/lbryio/lighthouse/commit/d285e4e4859fb7cf8cc45bb81848635691af3630

 the following was added

https://github.com/lbryio/lighthouse/blob/master/server/controllers/lighthouse.js#L65

`phrase_prefix` is not good for multiple terms as a type for a `multi_match` query. The recommend

[2018-03-06 04:24] tiger5226 commented on #45
Hi Tom,

I was looking into the search behavior for ChainQuery and saw this and since I did the research I wanted to answer this one.

This is actually expected behavior. When a phrase is searched like "John Cleese" this gets interpreted as a  query for "(John) or (Cleese)". This means it is looking for the whole word "John" or the whole word "Cleese". If you want to search for words starting with

[2018-03-09 20:15] btzr-io opened #49 "Filters"
### Filtering server side
Is there any news / plans for filter integration,
like search only for a specific `content type`: audio / video / files,
or `channel` and `tags`...
(if the daemon ever support it) :upside_down_face:

https://github.com/lbryio/lbry-app/issues/664#issuecomment-335684392

[2018-03-10 02:04] tiger5226 commented on #45
@tzarebczan This should be resolved now with the recent deployment to production of lighthouse. "john cleese" now returns nothing but john cleese videos. Can this be closed now?

[2018-03-10 06:00] filipnyquist commented on #49
Yes, we have this metadata in the search database, when chainquery is added this will be possible to do!

[2018-03-10 06:00] filipnyquist commented on #45
Yes, i recall this bug is fixed by the latest update!

[2018-03-10 06:00] #45 closed

[2018-03-12 15:31] affa85 opened #50 "Need exact title in the search to find a video"
I tested on my videos that all starts with "Gjerrigveganerens", if i dropped the s in the ending of the word, then i couldn't find any of my videos

[2018-03-12 15:37] affa85 opened #51 "Partial searches for channel not returning"
Searching for the channelname wouldnt come up unless you used @ in your search. It also had to be an exact match to get results

[2018-03-12 16:16] kauffj commented on #51
@tiger5226 can you handle this?

[2018-03-13 01:37] tzarebczan commented on #51
To clarify, even typing the @ in front only works because its the exact URL, not that it returns in search results. I don't see any channels in my search tests.

[2018-03-13 02:09] tzarebczan opened #52 "channels don't show up in search results"
Can't seem to get any channels to show up in search results.

[2018-03-14 16:00] #52 closed

[2018-03-14 23:47] tzarebczan commented on #51
@affa85 's channel name is "Thefrugalvegan". Unless you type in the entire term into search, you don't get any results.

[2018-03-15 00:22] affa85 commented on #51
I just noticed if the channel has a capital letter in it, Like the 'T' Thefrugalvegan. If I try lowercase t, it won't show up in search

[2018-03-15 00:28] tzarebczan commented on #51
@affa85 comes up for me, are you sure you aren't clicking enter (this causes you to go to the exact claim).

[2018-03-15 00:46] affa85 commented on #51
@tzarebczan yeah, i still think every search engine is google. Sorry.

It still can't be a partial search. I.e "frugalvegan" instead of "thefrugalvegan"

[2018-03-15 03:22] tiger5226 commented on #50
Should be fixed by #54

[2018-03-15 03:26] tiger5226 commented on #50
Thanks for reporting the issue! This was caused by converting to match query from a contains query. In order to enhance our search capabilities we changed the query to leverage a nested query to get relevant information from the Author,Title,Description fields of a claim ( previously unsearchable ). The default query to use inside of a nested query is the match.

This has now been adjusted so we g

[2018-03-15 03:32] tiger5226 commented on #51
Thanks for reporting the issue! I found the root cause of this problem. It wasn't able to search to see if a string contained the search term, hence the full match only.

`match` query for elastic search doesn't support wildcards like `query_string`. I have adjusted the query to take multiple search query types into account.

Please see the PR referenced below for details and weights.

Should be f

[2018-03-15 11:12] tiger5226 commented on #49
We can extend the search api so it resembles a more common example. Right now we only accept 1 parameter which is the search string.

We should have a set of arguments that are defined for advanced search capabilities. For example:

1) Channel or Claim or Playlist, etc
2) ClaimID ( there are some less known ways defined for the protocol  )
3) Active in claim trie
4) language
5) content type
6) By

[2018-03-15 13:24] kauffj commented on #49
@tiger5226 I'm for providing this functionality, but the vast majority of users are going to be used to a single box where they type things and get what they want. I think it's important we prioritize this use-case over advanced searching which is more likely to be for power users.

[2018-03-16 12:59] lyoshenka commented on #49
agreed, not a priority right now

[2018-03-16 23:31] tiger5226 commented on #38
@tzarebczan Is this issue still open? I still can't find it, but is this because it's waiting for chainquery? @filipnyquist references the "whole blockchain" so I wanted to clarify.

[2018-03-17 14:11] tiger5226 commented on #50
This is now corrected with the latest deployment of lighthouse.

[2018-03-17 14:11] #50 closed

[2018-03-17 14:14] tiger5226 commented on #51
The latest deployment of lighthouse corrects this issue. The following searches now return the mentioned channel.

https://lighthouse.lbry.io/search?s=Thefrugalvegan
https://lighthouse.lbry.io/search?s=thefrugalvegan
https://lighthouse.lbry.io/search?s=thefrugalveg
https://lighthouse.lbry.io/search?s=frugalvegan

[2018-03-17 14:14] #51 closed

[2018-03-17 14:29] tiger5226 commented on #35
The following query returns it as the second result now.
https://lighthouse.lbry.io/search?s=Retro%20Games%20Marathon

Marathon is not a complete enough search term. There are too many results to show and it is not in the top 10 and the app only shows the top 10. Pagination would help here because it is in the results.
https://lighthouse.lbry.io/search?s=Marathon

Similarly Retro games is too comm

[2018-03-17 14:29] #35 closed

[2018-03-17 14:32] tiger5226 commented on #36
This is already corrected with the search updates to lighthouse. It will now show results for all claims not just controlling claims. In a future update with ChainQuery we will be able to also search expired claims too.

[2018-03-17 14:32] #36 closed

[2018-03-17 14:34] tiger5226 commented on #33
This has been corrected with the latest release of chain query
The following search will return it as the #1 result.
https://lighthouse.lbry.io/search?s=Nintendo%20Hardware%20and%20Revisitation

[2018-03-17 14:34] #33 closed

[2018-03-17 14:35] tiger5226 commented on #34
This has now been corrected with the latest deployment of lighthouse. Quotes are no longer necessary. Searching for phrases will now correctly weight the importance of those words appearing together bringing them to the top of the list.

https://lighthouse.lbry.io/search?s=Retro%20Games

[2018-03-17 14:35] #34 closed

[2018-03-17 14:37] tiger5226 commented on #38
lbry://lobstersr#057bbbff837c8c108dc6b5a8af20bcb3ab8ad31b

This is not a proper claim reference, so it is no longer reproducible. I strongly believe this is no longer a problem with the latest version of Lighthouse to be deployed. I will close this issue until another scenario can be provided.

[2018-03-17 14:37] #38 closed

[2018-03-17 16:16] tiger5226 commented on #49
Ok all clear!

So then keeping the same search field for lighthouse we could enhance the field to allow for tags. This also allows the feature to be there before it is released in the app.

so if a user types `contentType:` followed by a word (or phrase in quotes ) it will create a tag in the app. that appears like `contentType: files`. This lets the user know they are searching only files with th

[2018-03-17 17:09] tiger5226 commented on #47
The autocomplete query suffers from the same problems that search did previously. the value section of the elastic document is of type nested, which means the query needs to also be a nested query. The result therefore is actually only searching the name of a claim instead of search for the best auto complete term across the main fields of title, description and author. Below is an example that is

[2018-03-17 17:14] tiger5226 opened #55 "Autocomplete Query is not returning the proper results"
The autocomplete query suffers from the same problems that search did previously. the value section of the elastic document is of type nested, which means the query needs to also be a nested query. The result therefore is actually only searching the name of a claim instead of search for the best auto complete term across the main fields of title, description and author. Below is an example that is

[2018-03-17 17:15] tiger5226 opened #56 "autocomplete is producing errors on production"
Try the following query:

https://lighthouse.lbry.io/autocomplete?s=fillerino

A query should not cause an internal server error.

[2018-03-17 17:20] tiger5226 commented on #47
I split out the original issue into 3 separate problems that need to be solved.

[2018-03-17 17:24] tiger5226 commented on #32
This is a nice improvement. We currently don't have access to `effective_amount` in the elastic document. However, as part of ChainQuery we can ensure this information is sent from there so it can be included in the elastic document to be used as a weight on the search score.

[2018-03-17 17:26] tiger5226 commented on #43
It would be nice if we could use Kibana locally with the production/development elastic search db. Is this what you are referring to?

[2018-03-25 17:23] btzr-io commented on #49
Would be possible to add read / add tags inside description?
My proposal would be to add the tags in the last line of the claim description:
[code]
Then we just need to read the last line:
[code]

We can also add a simple form to attach this last line for better (UX) inside the publish page:
![image](https://user-images.githubusercontent.com/14793624/37877913-42fdac42-3016-11e8-92ab-471da29eaacd.p

[2018-04-03 05:11] jsigwart opened #57 "Irrelevant results"
While searching for "Simpsons," the search result included this video and I can't find any mention of the search term:

lbry://acl-0dLJ2uwkSXI#a1b5f77ced4dcc042478ca2d32c7de14d6c3c524

[2018-04-04 02:04] tiger5226 commented on #57
If you look closely at the description of the claim you will notice:

While the claim maybe is not really relevant, it is doing exactly what is expected.

[2018-04-04 02:04] #57 closed

[2018-04-04 02:08] tzarebczan commented on #57
👍 @tiger5226 !!

[2018-04-04 20:43] m160 opened #58 "Search ranking improvement"
When searching @imineblocks you get two channels with the same name. The channel with only one item ranks higher than the other channel with 300 items **and** the vanity name claim.

The one with the vanity name and more items should rank on top. The search result should also show which channel has the vanity name claim when multiple channels of the same name is listed.

[2018-04-07 05:06] tiger5226 commented on #58
@m160 - Thanks for bringing this to our attention. This is an awkward situation but it appears that the channel with 1 item ranks higher because it is the claim with the winning bid of the channel name "@imineblocks". It is expected that our search algorithm ranks claims that have the winning bid for a name to be ranked high than claims that do not. So this should explain the results of the search

[2018-04-07 17:48] tzarebczan commented on #58
@tiger5226 think you misinterpreted the last take over value - that's when it was actually taken over by claim #2.  Valid at height for claim #2 is 346073 and the current height is 35014, so it's the winning claim.

@tiger5226 does the current search implementation take into updates of these claims? I.e. I could add support for the first claim right now and it would take back over. Just making sur

[2018-04-08 03:31] tiger5226 commented on #58
@m160 Thanks for reopening this!

@tzarebczan On point 1, yes, I agree, I misinterpreted that. I actually queried lbrycrd and the sequence of claims lead me to believe the the non-controlling one was the controlling one when in reality the sequence means nothing. I immediately, saw that the first one was there for quite some time so I thought this was a clear example of a minute take over bid not

[2018-04-08 04:12] tiger5226 commented on #31
@kauffj I wanted to just get this one done, however, there could be dependencies, and there may be alternative uses of getting claim value details based on a search result. Either way it returns all that it does because the data is stored in elastic search as an elastic document that can be summed up as a json object of information. The results are for these documents. If we wanted to return the U

[2018-04-08 06:37] tiger5226 commented on #56
The internal server error was because we were checking for a null value for a claim. This is already checked and should never be null. The intention is to make sure we can get the right information out which is only available in a stream. However, there is no stream for channel claims, only certificates. So the fix is to check for null on the stream not the value.

[2018-04-08 07:24] filipnyquist commented on #47
This is now solved by PR #60. Closing!

[2018-04-08 07:24] #47 closed

[2018-04-08 07:26] filipnyquist commented on #56
As @tiger5226 said this is now fixed. Closing for now!

[2018-04-08 07:26] #56 closed

[2018-04-08 07:26] filipnyquist commented on #12
Yup, this is tested and now live on production! Closing this issue!

[2018-04-08 07:26] #12 closed

[2018-04-08 11:10] lyoshenka commented on #58
How does chainquery fit into this? Would regularly syncing from chainquery be the solution?

[2018-04-15 02:26] tiger5226 commented on #58
@lyoshenka Sorry for the delayed response here. Chainquery, will allow for lighthouse to query all claims updated since a specific date and time. Everytime a claim is modified we timestamp it in chainquery. So in theory this will be a much simpler process with chainquery. The only gap there would be the expired or spent claims which we would not then be deleting. Since we want all claims to be sea

[2018-04-21 05:56] tiger5226 opened #63 "Blocked Outpoints for updates use wrong claimid"
The elastic search database stores claims for searching under their claimid. The blocked files api records outpoints. If a claim is updated, the update outpoint will not map to the right claimid because an update does not change the original claimid.

Connecting lighthouse to chainquery will allow the outpoint to be searched and mapped to the original claimid. The workaround for now is to add the

[2018-04-21 14:13] tiger5226 commented on #26
@filipnyquist Can you please elaborate on this? Like what errors do thing should be handled better and what your suggestion for logging is.

[2018-04-21 23:33] tiger5226 commented on #55
@tzarebczan Do you know how autocomplete is even used in the application? I don't think it is being leveraged right now. The api is no longer broken and I cannot get what I would expect from an autocomplete feature even if the results are not the best.

[2018-04-23 06:03] seanyesmunt commented on #55
We are pretty much just splitting any string typed into the search box and sending that to the api. This is where we do it https://github.com/lbryio/lbry-redux/blob/master/src/redux/actions/search.js#L72

[2018-04-23 13:10] tzarebczan commented on #55
@tiger5226 talked to @seanyesmunt about this - believe he was trying to use it at one point but then disabled it when it was broken. He'll look into it.

How much effort is it to make it work similar to the search function?

[2018-04-24 15:01] tzarebczan opened #64 "Return more than 10 search results"
Lighthouse currently results 10 results, what do we need to do to increase this number? https://lighthouse.lbry.io/search?s=bitcoin

We need to make sure that the app can support more than 10 results by paginating: https://github.com/lbryio/lbry-app/issues/1261

[2018-04-29 18:47] tzarebczan opened #66 "Searching "Danielo" does not return @Danielo channel"
This channel was created on spee.ch recently a user noticed that he wasn't able to search for it in the app.

[2018-04-29 23:28] tiger5226 commented on #64
These changes are now live. Test cases for api below.

[code]

[2018-04-29 23:28] #64 closed

[2018-04-29 23:29] tiger5226 commented on #66
It shows up as the top search result for me. See screenshot below.

<img width="1042" alt="screen shot 2018-04-29 at 7 29 01 pm" src="https://user-images.githubusercontent.com/3402064/39412032-a14e7be4-4be3-11e8-8e0f-eb1ab6d816c4.png">

[2018-04-30 01:39] tiger5226 opened #67 "Query breaks elastic search with pagination release."
Problematic Query

`https://lighthouse.lbry.io/search?s=testsize=100&from=10000`

Error:
[code]

Elastic Search  https://www.elastic.co/guide/en/elasticsearch/reference/6.2/index-modules.html

We need to prevent the edge case where someone might pass a size + from greater than 10000.

[2018-04-30 13:36] tzarebczan commented on #66
Yea most likely a timing issue. I'll close once we have a better idea on how it normally takes.

[2018-04-30 13:41] filipnyquist commented on #66
It should sync the chain every ten minutes, set by this variable:
https://github.com/lbryio/lighthouse/blob/master/server/utils/importer/index.js#L145

(It also takes 2-3 minutes to get the chain and compare to the old one
before inserting new claims)

Den mån 30 apr. 2018 15:36Thomas Zarebczan <notifications@github.com> skrev:

[2018-04-30 22:58] tiger5226 commented on #66
I agree, a timing issue is the only explanation. I wanted to post these screenshots just in case something else was awry. If everyone agrees we can close this issue.

[2018-04-30 22:58] #66 closed

[2018-05-07 14:55] tiger5226 commented on #63
we can now leverage chainquery [SQL API](https://lbryio.github.io/chainquery/#!/QueryApi#sQL%20Query) to avoid the workaround mentioned above.

[2018-05-07 15:03] tiger5226 commented on #55
uggh..sorry I missed this conversation. My notifications are all working great now, won't missed another one like this.

So it was a good amount of work getting the [query](https://github.com/lbryio/lighthouse/blob/master/server/controllers/lighthouse.js#L39-L143) for search right. Posted link so you can see the complexity of the query. The good news is I did a lot of the work already and can reus

[2018-05-07 18:47] tzarebczan commented on #55
@tiger5226 , also, this is the response when searching for "url":

`["ucb-UrLej5w0hJI","Japanese 7B - 2015-03-05: Novel: No Longer Human","UCBerkeley"]`

Japanese 7B - 2015-03-05: Novel: No Longer Human = title of 'ucb-UrLej5w0hJI' - do we want both the title and URL returning here? The idea of autocomplete is to give the user suggestions on URLs + suggested search terms (titles?  - but based on s

[2018-05-07 20:56] tiger5226 commented on #55
So the results are not good and border on junk. Below is the where it collates the results.
https://github.com/lbryio/lighthouse/blob/master/server/controllers/lighthouse.js#L261

The query itself, is effectively only querying against the claim names, not the things you would think. The results are just adding the name, author and title to an array of options that are then returned.

The result th

[2018-05-09 22:27] tzarebczan opened #68 "Searching FreeKeene/freekeene/free keene does not return correct result"
I would expect lbry://@FreeKeene in the results

[2018-05-09 23:16] tiger5226 commented on #68
I checked lbrycrd with following query:
[code]
Below is the result of the query

[code]
The wierd thing is I do have it in chainquery

https://chainquery.lbry.io/api/SQL?query=SELECT%20*%20FROM%20chainquery.claim%20WHERE%20name%20=%20%22@freekeene%22

with the following result:

[code]

[2018-05-10 00:16] tiger5226 commented on #68
It seems since 2018-05-04 01:33:24 nothing is syncing with elastic search. I can't find 1 channel after that time that appears in the search results. The sync loop of lighthouse had stopped. I restarted the service and all the queries are now successful.

https://lighthouse.lbry.io/search?s=free%20keene

[2018-05-10 00:16] #68 closed

[2018-05-10 00:37] tiger5226 commented on #68
After reviewing the logs in detail:

[code]
It appears that the sync hasn't run since the last deployment. After the issues with elasticsearch node, the sync loop failed because elastic search was not started yet. The Search API worked when tested though because between the service restarts lighthouse connected to the elastic search node. However, since the sync process is just a loop, if it is in

[2018-05-10 01:45] tiger5226 opened #69 "if sync fails it never runs again"
The sync process should continue to try on schedule, even if it hits an error. In the current state, if it hits an error the only way to launch the sync process again is restart the lighthouse service on the machine.

This issue is triggered by the investigation of #68. The claim trie had not been synced since the last deployment because it failed once when elastic search connection was not instan

[2018-05-10 01:47] tiger5226 commented on #69
This is solved with PR #70.

It the catch of the rejected promise, we should wait the same time interval and try again.

@filipnyquist - Please let me know if you see any issue with this.

[2018-05-10 02:10] tiger5226 commented on #55
So in looking at the logs of lighthouse, the autocomplete is being called quite often. So I presume this is from the app and it is in fact running.

@seanyesmunt - Does this sound right?

Either way, when testing in the app, typing 1 character at a time, I notice some lag. The logs show that the current query for autocomplete takes around 12-25ms. This is very fast, however the search query is wha

[2018-05-10 14:03] filipnyquist commented on #69
Pull now merged!

[2018-05-10 14:03] #69 closed

[2018-05-12 23:05] filipnyquist opened #71 "Get chainquery merged and live into production."
@tiger5226 is working on integrating chainquery into lighthouse. When my review is done the next step is deployment to a live server, this means starting over with a new elasticsearch database.

My main idea was to redeploy ligthhouse to a new server, get it synced up and then change the DNS for lighthouse.lbry.io to the new one. Then let the DNS change propagate and remove the old server.

Feel f

[2018-05-12 23:46] tiger5226 commented on #71
We now have the https://github.com/lbryio/lighthouse/tree/chainquery  branch and a PR for code review #72.

The basic idea for a phase 1 is replace the current sync process with one that leverages chainquery instead of a direct connection to lbrycrd. This allows us to avoid rewriting the same code for all of our applications. The requirement is that it should not change the search results in any s

[2018-05-12 23:50] tiger5226 commented on #58
This will be solved once #71 is closed out as it has the new sync process where claims will get the updates.

[2018-05-12 23:51] tiger5226 commented on #32
Once #71 is closed out we can modify the elastic search query to give weight to the effective amount since it will now be coming from [chainquery](https://github.com/lbryio/chainquery).

[2018-05-14 21:34] tzarebczan commented on #63
@tiger5226 would it make sense to have a table that contains the relationship between claim id + the latest outpoint? It sounds like this may not exist currently, but there would be a query you can run to grab the latest if needed. IMHO, having the latest outpoint is more important than having the original (once the claim is updated, the original outpoint is no longer referenced anywhere).

[2018-05-14 23:34] tiger5226 commented on #63
To support this that is exactly what I did 👍. All outpoints in chainquery have a claim_id column now which is a foreign key to the claim table. This makes an output query to get the claimid super easy. Same thing for getting the latest one too which is just an order by on created.

[2018-05-17 21:50] tiger5226 commented on #71
Deployed

[2018-05-17 21:50] #71 closed

[2018-05-17 21:56] tiger5226 opened #75 "Add weight for Claims with bids that are controlling"
The elastic search query needs to be adjusted such that when there is a choice between two claims of equal weight in the search results, the one that is controlling gets a higher score which then means it returns at a higher place in the search results.

This also originated from #58 but since this is a separate issue from claim updates not being sync I pulled it into a separate issue.

[2018-05-17 21:59] tiger5226 commented on #58
Ok so now that claim updates are coming in and syncing properly with the latest release of lighthouse we can add weight for controlling claims. This is a separate issue so split it out into #75

[2018-05-20 15:46] tiger5226 opened #76 "spent claims show up in search results"
When lighthouse queries chainquery for updated/new claims it doesn't do a check if it is spent.

- [x] It needs to check if the claim is spent and then delete it from elastic search so it is no longer searchable. The app will not resolve a spent claim and will only show that the position is available if someone wants to use it. cd0f9809042011630bb7875e1314c481954c6029

- [x] Lighthouse also needs

[2018-05-22 21:36] kauffj commented on #31
I was going through tickets assigned to me and realized I never saw above until now. Good catch of a real issue, but I'd propose the proper fix for this is likely to add a version parameter the endpoint to allow graceful migration, not diverge endpoints.

[2018-05-23 01:31] tiger5226 commented on #31
Yeah that makes sense! Will do

[2018-05-27 02:31] tiger5226 commented on #76
<img width="1431" alt="screen shot 2018-05-26 at 10 28 52 pm" src="https://user-images.githubusercontent.com/3402064/40581946-67bcf55c-6134-11e8-8581-2a8603700def.png">

The screenshot above is a test case. The local version does not return the result while production currently does.

[2018-05-27 03:11] tiger5226 commented on #55
I confirmed this was the case. The redesign is now using the autocomplete.

[2018-05-27 14:54] tiger5226 commented on #76
This has been deployed along side the chainquery release and the test case passes in production.

[2018-05-27 14:54] #76 closed

[2018-06-20 22:20] tiger5226 opened #78 "Internal server error on autocomplete"
In app example

<img width="1132" alt="screen shot 2018-06-20 at 6 19 43 pm" src="https://user-images.githubusercontent.com/3402064/41687683-99017ca6-74b6-11e8-9460-02723e837b1b.png">

This is needed for the new release that uses the autocomplete.

[2018-06-20 23:20] tiger5226 commented on #78
This was caused by the new removal process for the sync of claims. To remove a claim we overwrite it with a blank document instead of actually deleting it. We just need to check that the result has a source. If it does we are good.

[2018-06-20 23:20] tiger5226 commented on #78
https://github.com/lbryio/lighthouse/pull/79

[2018-06-21 02:36] tiger5226 commented on #75
solved with https://github.com/lbryio/lighthouse/pull/81#event-1692597622

[2018-06-21 02:36] tiger5226 commented on #32
solved with https://github.com/lbryio/lighthouse/pull/81#event-1692597622

[2018-06-21 02:37] tiger5226 commented on #58
this will be solved with the additions for controlling weights. https://github.com/lbryio/lighthouse/pull/81#event-1692597622

[2018-06-21 02:38] tiger5226 commented on #78
Needed a tweak with https://github.com/lbryio/lighthouse/pull/80

[2018-06-21 02:38] #78 closed

[2018-06-24 14:43] filipnyquist commented on #43
It seems like we should add either a config file or allow the use of env settings so we can override the elastic search db connection details. This would improve the debug experience aswell.

[2018-06-24 14:44] filipnyquist commented on #26
I think that logging the errors appering to a logfile with the help of winston would be a inprovment as we easier could check on errors. I´ll see if i can get winston updated to the latest version and also add logfiles for errors.

[2018-06-27 13:06] filipnyquist commented on #43
Solved with #84

[2018-06-28 09:33] filipnyquist commented on #32
Closed, see comment above

[2018-06-28 12:28] #26 closed

[2018-06-30 01:46] tiger5226 opened #86 "ide files accidentally committed"
https://github.com/lbryio/lighthouse/pull/84

pulled in ide files. This should be removed.

[2018-06-30 01:48] tiger5226 commented on #43
this is solved but not deployed yet.

[2018-06-30 12:46] filipnyquist commented on #86
Resolved.

[2018-06-30 12:46] #86 closed

[2018-06-30 13:04] tiger5226 commented on #32
reopening because while this is fixed in the leading branch it has not been deployed yet.

[2018-07-04 04:16] tiger5226 commented on #75
deployed

[2018-07-04 04:16] #75 closed

[2018-07-04 04:18] tiger5226 commented on #58
deployed

[2018-07-04 04:18] #58 closed

[2018-07-06 17:33] #43 closed

[2018-07-06 17:33] BelfordZ commented on #43
Thanks guys, awesome work

[2018-07-07 13:13] tiger5226 opened #90 "Add channel parameter to search api"
This will be to support searching within a specific channel for the app.

[2018-07-09 09:50] filipnyquist commented on #90
This sounds like something that would be awesome to have implanted in the app soon! I´ll see if i can get this sorted!

[2018-07-09 14:32] tiger5226 commented on #90
The API adjustment should be pretty straightforward, the query is usually the bear. https://www.elastic.co/guide/en/elasticsearch/guide/master/combining-filters.html#bool-filter W should use a bool filter. Right now the search query leverages the must and should parts of a bool query. We should be able to dynamically adjust the query to insert the filter part based on the channel parameter being n

[2018-07-10 00:29] tiger5226 commented on #90
We will need to get additional information into elastic search. Specifically the name of a channel for a claim so we can easily filter this out. The query to Chainquery needs to be adjusted:
[code]
This will bring in the new information. In order to get all this sync'd up we just need to adjust the sync state json file to be for 2015 for example so that it resyncs all the claims in the DB. This ta

[2018-07-22 05:48] tiger5226 opened #93 "breaking change from Chainquery"
The query used to update the claims will no longer work when https://github.com/lbryio/chainquery/pull/39 is deployed. The change needed is minor `modified` will change to `modified_at`.

[2018-07-22 16:31] tiger5226 commented on #32
A quick update on this one. It was merged in but had to be rolled back. The function which used the effective amount as a factor of the score threw exceptions for certain documents which did not contain a number in the effective amount field. This should not have been the case. I could not reproduce this locally either. So maybe we need to plan a rebuild of the elastic search db in production.  se

[2018-07-24 09:41] filipnyquist commented on #90
Fixed with #94

[2018-07-24 21:43] tiger5226 commented on #90
Keep the issue open until deployed, or mark it as deployed when closing.

[2018-07-24 22:34] tiger5226 commented on #90
Yeah, but for lighthouse, we don't have auto deployment like internal-apis. Master doesn't mean deployed and we don't have releases, so its how I keep track right now.

[2018-07-24 22:52] tiger5226 commented on #90
Thinking more we should add that to the next sprint...auto deployment and releases. It can be a bit of work, but from experience it has already saved me tons of time on chainquery.

[2018-07-24 22:55] tiger5226 opened #95 "Auto-deploy/release lighthouse"
https://github.com/semantic-release/semantic-release

This is a really cool and popular package. Then we just need to process the github webhook when a tagged release is created to download, unzip and startup the binary.

### Acceptance Criteria
1.
2.
3.

### Definition of Done
- [ ]  Tested against acceptance criteria
- [ ] Tested against the assumptions of the user story
- [ ] The project builds

[2018-07-24 23:04] tiger5226 commented on #90
https://github.com/lbryio/lighthouse/issues/95

[2018-07-25 12:42] filipnyquist opened #96 "Update lighthouse documentation to follow our format."
Update the lighthouse README.md to follow the standards that we have set for documentation.
See "Repository standards" https://lbry.tech/contribute/

[2018-07-25 12:47] filipnyquist opened #97 "Change the API doc to swagger instead of jsdoc."
The documentation should be changed to swagger, which will make us follow the OpenAPI spec.
This will make it easier for people to make API clients and give them a better overview of the API.
The code for this is close to ready, it needs some final fixing and swagger checks.

[2018-07-25 13:12] kauffj commented on #97
@NetOperatorWibby please consider how we want this displayed on lbry.tech. The primary emphasis on the Resources page will be on the Whitepaper and blockchain/daemon APIs, but secondary APIs such as lighthouse will be displayed there as well.

In the abstract, I'm in favor of using the OpenAPI spec when the API being documented is RESTful.

[2018-07-25 14:58] #90 closed

[2018-07-30 13:21] filipnyquist commented on #93
This change needs to happen at the same time as Chainquery gets updated, I´ve made a PR with the fix( #99 ), @tiger5226 merge it and deploy at the same time as you deploy chainquery #93.

[2018-07-30 13:33] #96 closed

[2018-08-05 18:33] #97 closed

[2018-08-07 05:12] seanyesmunt opened #101 "Search queries with certain parameters return "400 Bad Request""
I am currently working on https://github.com/lbryio/lbry-desktop/issues/1743 and am running into a few issues. For a piece of content, I am taking the title, and performing a search to build a list of recommended content.

Example:
[code]

It seems `(` or `)` is what's causing it. If I just do a search with any query and include `(` or `)` I see the same result. Still looking to see what other cha

[2018-08-07 05:14] seanyesmunt commented on #101
We can trim out any values that cause issues on the app side if needed.

[2018-08-07 15:01] kauffj commented on #101
@filipnyquist separate from fixing this (assuming it ought to be fixed, which maybe it shouldn't), a great first step would be to make sure the API documentation you've been working on specifies the allowed parameters for a search term and to link @seanyesmunt to that resource.

[2018-08-12 18:06] tiger5226 commented on #93
merged and deployed

[2018-08-12 18:06] #93 closed

[2018-08-12 18:26] tiger5226 opened #102 "Issue with query"
Previous Query:

[code]

New Query:

[code]

[2018-08-12 18:30] tiger5226 commented on #102
Looking here https://stackoverflow.com/questions/16084935/a-html-space-is-showing-as-2520-instead-of-20

It appears the query is getting encoded and then encoded again. I presume there is a problem with the deployment steps:

[code]

[2018-08-12 18:34] tiger5226 commented on #102
It appears that other changes were deployed as well. Not just this one. @filipnyquist Can you please look into this ASAP, I am not sure what you merged and what you deployed.

[2018-08-12 18:43] tiger5226 commented on #102
The query in the code Before:

https://github.com/lbryio/lighthouse/blame/cf3cac7b7936b8c6a8649b7a24722ed1635ea933/server/utils/chainquery/index.js#L155-L167

https://github.com/lbryio/lighthouse/blob/master/server/utils/chainquery/index.js#L157-L169

[2018-08-12 22:38] tiger5226 commented on #102
interesting observation. When I run lighthouse locally with the master branch and the master branch of chainquery, I get the following successful query:

[code]

[2018-08-12 23:09] tiger5226 commented on #102
OK weirdest thing...it only happen for the first sync and is no longer happening.. ¯\_(ツ)_/¯

[2018-08-12 23:09] #102 closed

[2018-08-15 01:00] tiger5226 commented on #101
<img width="875" alt="screen shot 2018-08-14 at 8 18 37 pm" src="https://user-images.githubusercontent.com/3402064/44125210-4909e67e-9fff-11e8-9d47-216559029390.png">

So it appears there are specific characters that do need to be escaped.

I added an escape function because it is only required for the `query_string` query of elastic search.

[2018-08-15 01:01] tiger5226 commented on #101
solved with https://github.com/lbryio/lighthouse/pull/103

[2018-08-15 15:19] kauffj opened #104 "Add flag that allows advanced queries"
I believe https://github.com/lbryio/lighthouse/pull/103 effectively turns off advanced query functionality. I think this is a fine choice since it makes search work without issues with no app-side changes required.

However, it may make sense to add a flag like `no_escape=1` or `advanced=1` so that these features can still be used if desired.

Please close if I misunderstood effect of #103.

[2018-08-15 23:13] tiger5226 commented on #104
They could not be used before this because we are using the wild cards `* + s.input() + *`, which is why it was misinterpreted to begin with causing the 400 BadRequest. Also the query_string is just 1 part of the overall query. Attempting to use advanced query functionality would not really work even if we did not use the wildcards in this manner as the rest of the queries leveraged do not use que

[2018-08-15 23:13] #104 closed

[2018-08-20 16:10] kauffj opened #105 "Never return URLs in search results"
Sometimes the search auto suggest can suggest that someone search for an entire URL. This results in a confusing user experience. The search suggestion results should never contain anything beginning with `http(s)://` or `lbry://`.

[2018-08-20 16:37] tzarebczan commented on #105
I believe this was coming back from one of the match URL titles (not sure exactly from where though)

This is the query: https://lighthouse.lbry.io/autocomplete?s=crypto

The result:
`["@cryptocollectibles","cryptocurrencysandbtc","Bitcoin is not a bubble and will surpass the US $3,000  ","cryptogames","spee.ch","cryptogames2","cryptodevpic","Image published from spee.ch","https://spee.ch"]`

Prob

[2018-08-20 17:01] kauffj commented on #49
@tiger5226 or @filipnyquist is this viable to pursue now that chainquery is integrated?

[2018-08-20 17:01] kauffj commented on #49
The most immediately useful filter would be filtering by file type.

[2018-08-20 21:46] alyssaoc commented on #32
@tiger5226 Is this still an outstanding issue? Will Sean's recent changes to search impact this?

[2018-08-20 22:13] tiger5226 commented on #32
yeah, it is but we need to come up with an alternative solution or fix the production elastic search instance.

@kauffj how important is this? Do we want to rebuild the production db? It takes about an hour to do it.  So search would be down for an hour.

@nikooo777 Could we do this on another machine and replace it as lighthouse.lbry.io once complete so search does not go down?

[2018-08-20 23:30] tiger5226 commented on #105
The results generally are from #55 , but there is currently nothing preventing the start of a url from being returned. So we would need to add this filter.

[2018-08-21 09:36] nikooo777 commented on #32
absolutely

[2018-08-21 10:03] filipnyquist commented on #32
Get a server and I can set it up!

Den 21 aug. 2018 11:36 skrev "Niko" <notifications@github.com>:

@nikooo777 <https://github.com/nikooo777> Could we do this on another
machine and replace it as lighthouse.lbry.io once complete so search does
not go down?

absolutely

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub
<https://githu

[2018-08-21 13:45] kauffj commented on #32
It looks like you guys already figured out the approach on how to do this that I would have recommended.

It's unclear how much value this will have, but I think it's a smart change. It did make me realize we should figure out ways to ascertain how search is performing and I will file a ticket related to that.

[2018-08-21 13:49] kauffj opened #106 "Search KPI(s)"
How do we tell if our search is working? Suppose we make a change to how results are weighted (e.g. #32) and we deploy it. Is our search now better, or worse? How do we tell?

I'd like some thought to be given on how to measure this before proceeding with any work.

An example of a not too thought out possible design: add a thumbs up / thumbs down or equivalent on search result pages (e.g. Did thi

[2018-08-21 21:53] tiger5226 commented on #63
I would not close it but we should backlog it. If we run low on things to do or the workaround becomes a time sink then we should implement this change, otherwise there is no business value to implement this right now. This is just my opinion/advice.

[2018-08-27 17:54] tzarebczan opened #108 "poor search results on related content / related to weighing on claim bid and %20?"
When going to lbry://cz-abl-rhodes#4eff956d91e02c9baae3f1f843a01cadf08b7556, the recommended results are pretty poor (based on the title). Search query: https://lighthouse.lbry.io/search?s=CryptoCandor%20%7C%20Live%20w%20Crypto%20Zombie,%20Sara%20-%20Altcoin%20Buzz%20Ladies,%20&%20Rhode%20Block!&size=20&from=0

I'm guessing this is related to https://github.com/lbryio/lighthouse/issues/32

[2018-08-27 18:04] tzarebczan opened #109 "Split search API into channels and claims ?"
The way search works right now, it will return the top X claims and channels based on a search query. This could lead to issues finding channels if the claim results "overwhelm" the channel ones. One example is searching for `Lunduke`. Since he has Lunduke in title names, you only get a bunch of claim results, and nothing on the Channel side.  If I increase the search result #s, I eventually get t

[2018-08-27 18:07] tzarebczan commented on #108
here's another example: https://www.screencast.com/t/Fe32DyMQPHS

[2018-08-27 18:34] tzarebczan commented on #108
Here's an even worse one...lots of the @Porn hits from the community top bids:
![image](https://user-images.githubusercontent.com/8120721/44678417-4d683200-aa06-11e8-9803-92291a50ea75.png)

[2018-08-27 19:00] seanyesmunt opened #110 "Add param for "no nsfw results" on search api"
For related content, we don't want nsfw results if the user is hiding nsfw content. Currently we just strip out nsfw results app side but this results in some videos with only a few related pieces of content.

It would be nice if there was a new param which makes it so no nsfw results are returned.

[2018-08-27 20:52] tzarebczan commented on #108
Just noticed: https://github.com/lbryio/lbry-desktop/issues/1911

so the query was: https://lighthouse.lbry.io/autocomplete?s=GameTales%20 - the %20 (space) is bringing in the porn results. Maybe this is what's causing it to happen on other queries too.

[2018-08-27 21:54] tiger5226 commented on #108
@seanyesmunt created another issue for this. He is now filtering out NSFW content appside. #110 check it out. If we can avoid the unintended side effects of effective amount is that preferable? I mean what we have is what we expected by implementing the issue, just not desired.

[2018-08-27 22:51] tiger5226 commented on #108
there should be no leading or trailing spaces in a search. We can trim both sides of any query that comes in to enforce that.

[2018-08-27 22:52] tiger5226 commented on #108
I am also worried that we are doing something wrong app side to produce this. @seanyesmunt Any idea how a trailing space is getting passed to the search api?

[2018-08-28 04:05] tzarebczan commented on #108
It's not only an issue with the trailing space, it's an issue with any spaces. See first example: https://lighthouse.lbry.io/search?s=CryptoCandor%20%7C%20Live%20w%20Crypto%20Zombie,%20Sara%20-%20Altcoin%20Buzz%20Ladies,%20&%20Rhode%20Block!&size=20&from=0

[2018-08-28 13:37] tzarebczan commented on #108
If we don't understand how to handle this scenario, we should revert the effective amount changes for the time being.

[2018-08-28 22:13] tzarebczan commented on #108
Lighthouse IP was reverted to an earlier instance as a workaround.

[2018-08-29 13:38] alyssaoc commented on #108
Need to understand the root cause before proceeding

[2018-08-30 14:37] kauffj opened #111 "Add support for filtering by file type"
I believe this involves the following:

1) Reading the file's content type into the elastic search document. We currently store the file's media type (mime type) in the [content_type](https://github.com/lbryio/chainquery/blob/master/db/chainquery_schema.sql#L154) column on a claim.

2) Creating a mapping between mime/media types and more usable file types. While it's fine/good to support direct qu

[2018-08-30 14:39] kauffj commented on #49
A lot of @jamesbiller proposed maker community initiatives could really use the ability to filter by file types.

I split out this aspect of filtering into a separate ticket: #111

[2018-08-30 19:30] alyssaoc commented on #111
@tiger5226 and @filipnyquist first we need a basic triage, is this issue workable/doable? What else do we need to know? Do you(either one or both) want to do it? There is a community member who may be interested, is this issue suitable for that situation?
We need to either:
1)  complete 111
2) Agree that 111 is workable and that lighthouse is in reasonable shape for a new person to attempt tacklin

[2018-08-30 19:33] tiger5226 commented on #111
@alyssaoc We need to to know the precise mappings referenced by @kauffj. As long as how we do this is up to do us, this should be enough information to complete the issue.

As for a new person tackling this, is this what we want? Why not have @filipnyquist or I work on it?

[2018-08-30 19:38] alyssaoc commented on #111
@tiger5226 That is choice one, either one of you works on it. If you want to pass, you can, just confirm that it is workable. It opens up a lot of other development opportunities and is important but not urgent.

[2018-08-30 19:45] kauffj commented on #111
I'm fine with anyone doing it. I believe @filipnyquist is expected to be unavailable for a few weeks as he is beginning university.

The background here is that I encouraged @jamesbiller to seek out a technical contributor who was familiar with maker (3d printing and more) use-cases. After some discussion, we realized that a lot of desired directions are blocked by this issue, like the ability to

[2018-08-30 19:46] kauffj commented on #111
Regarding creating the file type mappings, I think my initial list is a fine start. The engineer working on this should construct the specific mime type list.

[2018-08-30 22:40] tiger5226 commented on #111
@kauffj All clear! I will put this on my list. I run into situations sometimes where I am temporarily out of work for milestones and I pick from the queue. I like to have a secondary queue to fallback on. Right now that is api-forms ( did some more work there last weekend), chainquery, and lighthouse. So this is actually perfect for that fall back queue when I need to wait for responses or new iss

[2018-08-30 22:42] tiger5226 commented on #49
I believe I missed this comment, but I don't think Chainquery is required here. This has been ready for a while, but it was put on the backburner a while ago because it was not urgent and seen as a power user feature. I like the idea to split out the file type stuff.

[2018-09-04 02:56] skhameneh commented on #106
Not actively, I will sync with @lyoshenka

[2018-09-10 19:29] tzarebczan opened #112 "bad request returned on certain searches"
Examples:
https://lighthouse.lbry.io/search?s=Mar%20GamingYT%20%20%20Robux%20Simulator%20/%20REBIRTH!&size=20&from=0

https://lighthouse.lbry.io/search?s=Mar%20GamingYT%20%20%20Baldi%20Obby!%20/%20I%20got%20lost,%20but%20won!&size=20&from=0

Might be related to some special characters?

[2018-09-10 19:30] tzarebczan commented on #112
Another:
https://lighthouse.lbry.io/search?s=Playing%20Robloxian%20Life%20%20w%20god39lol/%20Mar%20GamingYT&size=20&from=0

[2018-09-11 10:56] tiger5226 commented on #112
The problem is the url is not properly encoded. Forward slash when url encoded should be `%2F`. I think this is the right response when the api receive a malformed url.

https://lighthouse.lbry.io/search?s=Mar%20GamingYT%20%20%20RobuxSimulator%20%2F%20REBIRTH

The above is an example where it should work though and does not. The forward slash seems to cause problems so how.

[2018-09-15 14:29] tiger5226 commented on #31
@seanyesmunt we have the PR ready, but I just wanted to double check with you that we are not using the search APIs anywhere else.

[2018-09-16 01:56] tiger5226 commented on #108
The root cause was due to the search query not being trimmed. We previously had an issue with internal server errors on specific characters. These characters needed to be escaped. They also needed the trim function called. When I added this the results even with the effective amount worked great.

@alyssaoc This needs coordination with @nikooo777 / @filipnyquist . They did something with the machi

[2018-09-16 02:15] tiger5226 commented on #112
So I found some more documentation on the escaped characters. Some pages had different characters to escape. I found the official documentation on escaped characters. I noted it in the codebase for reference.

https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#_reserved_characters

Solved with https://github.com/lbryio/lighthouse/pull/115

[2018-09-16 05:55] tiger5226 commented on #55
I have made the referenced changes and reworked the auto-complete query. It now returns results that are 100 times better! They actually mean something

### Query Example - "Shi"

Old results:

[code]
New Results

[code]

What it was doing was duplicating information for a claim. So if the term matched the title it would pass the claim name even if it had nothing to do with the search. So we can g

[2018-09-17 04:34] nikooo777 commented on #108
Correct!

@filipnyquist is this something you can handle in the following days? I can switch the IP whenever it's ready

[2018-09-17 13:32] seanyesmunt commented on #31
They are used in the android app. It would definitely be a smoother transition to include versioning in the api

[2018-09-17 13:36] seanyesmunt commented on #109
I think one set of 2x results split equally (or at least make sure there is no less than 1 channel if one exists or something) would work best.

[2018-09-17 14:01] kauffj commented on #109
Rather than modifying the signature and behavior of generic search `(/search?s=<term>`), maybe these should just be distinct calls?

If the app wants to display `n` file results and `n` channel results, it may make sense to just make two distinct calls with different parameters/signatures.

[2018-09-17 14:03] kauffj commented on #109
My comment may still be unclear. Rather than either splitting the response signature of `search` or _replacing_ search with two new calls, I'm suggesting simply _adding_ two new calls (or a new parameter to `search`) and leaving `search` called as-is with the same behavior.

[2018-09-17 14:11] kauffj commented on #31
I'm not 100% on what I meant by this, but I _think_ I just meant to actually include the URL so it doesn't have to be reconstructed, not to actually strip out the metadata (though that may be fine).

Ideally, it's return [the canonical url](https://github.com/lbryio/lbry/issues/958).

[2018-09-17 16:49] kauffj commented on #106
Before proceeding on this, the following should happen:

1) Research into how others using elastic search handle this. It's surely a common problem.
2) Further consideration as to _where_ this data should be stored from the perspective of lighthouse developers and the future of lighthouse. Ideally, the solution would result in code that someone running an independent copy of lighthouse could benef

[2018-09-18 13:58] kauffj commented on #109
I think adding a `claim_type=<channel|file>` would be a sensible design.

[2018-09-18 16:01] kauffj commented on #31
It's still not performant to display/determine the shortest possible canonical URL, but I'm fine waiting on the daemon to fix that.

That said, even without proper canonical URLs, I do think it makes sense to return the full URL. It'd be like if a search engine returned the host and TLD separately (technically host includes TLD but you get what I mean).

[2018-09-18 16:55] seanyesmunt commented on #31
@tiger5226 Whoops. You are right. I thought we were handling that data differently.

[2018-09-19 02:51] tiger5226 commented on #109
Yeah, I agree. 2 calls is best with the claim_type parameter which defaults to all if not passed.

@seanyesmunt Does this make sense to you?

[2018-09-19 03:03] tiger5226 commented on #31
All clear. I will leave the current fields alone and add one for the canonical url which should be:
`<claim_name>#<claim_id>` is this correct @kauffj ?

I reviewed the issue linked, but I don't see what exactly we want the canonical url to be. Sorry if I missed something.

[2018-09-19 14:58] kauffj commented on #31
@tiger5226 no, the canonical URL is more complex than that. Given full access to chainquery however, it should be possible to compute it in a single query/pass.

I updated https://github.com/lbryio/lbry/issues/958 to (hopefully) be significantly more clear

[2018-09-23 14:47] tiger5226 commented on #31
@kauffj This seems very complex. In a given query each row would have to compare against all other rows with a similar set of fields. Do you think this is something I should adjust Chainquery to calculate when a new claim comes in? Also what is the impact if a claim is abandoned? I presume that doesn't matter. If it existed in the blockchain at some point it impacts the canonical url. Is this corr

[2018-09-23 14:51] tiger5226 commented on #108
This has been merged. Currently awaiting a deployment to production for testing. Then if all goes well the ip can be switched to the production instance.

[2018-09-23 21:54] #112 closed

[2018-09-23 21:54] #108 closed

[2018-09-24 14:49] kauffj commented on #31
@tiger5226 canonical URLs cannot (and won't) change even if a claim is abandoned.

We can probably wait to handle this in lighthouse until it's been added at lower levels.

[2018-09-25 02:18] tiger5226 commented on #31
ok I will put this in the icebox.

[2018-09-25 14:45] #55 closed

[2018-09-26 14:45] alyssaoc commented on #31
@tiger5226 Is this ready for review or going to the icebox?

[2018-09-27 02:33] tiger5226 commented on #31
icebox, corrected the pipeline to triaged.

[2018-09-27 22:24] tzarebczan opened #119 "Search result affected by a number at end of title"
This query for `AdmiralBulldog Bristleback Aghanim's [YOU CAN'T RUN!] Dota 2`  https://lighthouse.lbry.io/search?s=AdmiralBulldog%20Bristleback%20Aghanim%27s%20%5BYOU%20CAN%27T%20RUN!%5D%20Dota%202&size=20&from=0 - brings in high effective amount claims like one, four, six at the top fo the list

Removing the 2 at the end `AdmiralBulldog Bristleback Aghanim's [YOU CAN'T RUN!] Dota`:
https://lighth

[2018-10-02 15:00] tzarebczan opened #120 "Search result missing - open-source-video-editing-lesson-4"
When running https://lighthouse.lbry.io/search?s=open-source-video-editing-lesson-4&size=50&from=0

lbry://open-source-video-editing-lesson-4 is missing from the search results

[2018-10-02 15:02] tzarebczan opened #121 "lessen impact of Description on search?"
When searching for something like https://lighthouse.lbry.io/search?s=open-source-video-editing-lesson-4&size=50&from=0, lbry://one comes up first because it was `video` in the description.

Can we lessen the impact of description search or make it only return if there is more than a single word match?

[2018-10-02 15:13] kauffj commented on #121
I'm fine with tweaking this, but I really think #106 is the key here.

[2018-10-04 00:28] tiger5226 commented on #119
we can blacklist numbers via a cast check. @nikooo777 is that performant in js or is there something else you would recommend?

[2018-10-04 00:40] tiger5226 commented on #120
@tzarebczan I see each of the lessons and agree that lesson 4 is missing.

https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20WHERE%20name%20=%22open-source-video-editing-lesson-4%22

Chainquery has it as expired which is why it would not show up in the search results. It shows in the app, so maybe there is a bug somewhere.

https://github.com/lbryio/chainquery/issues/55

Moved t

[2018-10-04 00:40] #120 closed

[2018-10-04 00:41] tiger5226 commented on #121
We need to investigate if we can set a minimum match quantity for the match query of elastic search.

[2018-10-05 22:04] nikooo777 commented on #119
why is the number affecting the results? aren't sequences of less than 3 chars ignored?

[2018-10-05 22:59] tiger5226 commented on #119
ahhh thats a good point niko! I will have to check the code to see if any part of the query is not being washed properly.

[2018-10-08 03:08] tiger5226 commented on #106
https://www.elastic.co/guide/en/elasticsearch/reference/6.x/search-rank-eval.html

I found this in searching around. It might be useful as a sort of unit testing. So if we make changes to the search query we test its impact. Basically we say for our query with this search string, document A must be in the top 10 results. If it is not it fails our test and the query is considered significantly impa

[2018-10-17 13:35] alyssaoc commented on #110
@tiger5226 Why did this go back to triage?

[2018-10-17 13:38] lyoshenka commented on #31
closing until it's been added at a lower level

[2018-10-17 13:38] #31 closed

[2018-10-18 00:46] tiger5226 commented on #110
I have no reason. I don't recall. Maybe I selected the wrong dropdown when removing my assignment. Cool with groomed.

[2018-10-21 20:05] tiger5226 commented on #110
The PR for this is complete. However, our documentation needs to be updated. @filipnyquist could you update the docs or add to the readme how this should be done? When we change the API, it would be nice if we keep the docs up to date.

[2018-10-21 20:17] filipnyquist commented on #110
https://github.com/lbryio/lighthouse/blob/master/server/routes/lighthouse.js contains the API documentation as in-line swagger doc. When that has been updated you can generate the new API docs with `npm run gendocs` which will handle everything for the documentation.

[2018-10-21 20:17] filipnyquist commented on #110
If you want i can get a PR which updates the documentation after we merge the other PR

[2018-10-21 20:34] filipnyquist commented on #110
I can take a look on auto-deploying after next week, it´s an exam week so I'm quite full until after it

[2018-10-21 20:43] filipnyquist commented on #110
The initial PR and a docs update PR has been merged!

[2018-10-21 20:47] filipnyquist commented on #110
This is now live in production!

[2018-10-21 20:47] #110 closed

[2018-10-24 08:46] marcdeb1 commented on #119
It seems that the after the query is washed, the result is "admiralbulldog bristleback aghanim'[you can'run!] dota". It is removing spaces that shouldn't be removed, for example it should be "you can't run". This is because of the regex.
Secondly, because of this, sometimes a trailing whitespace remains (when "2" is removed), this causes one of the queries to return all results (query_string with

[2018-10-24 23:09] tiger5226 commented on #119
Boom! nice investigation!

[2018-10-28 15:03] tiger5226 commented on #95
I bit the bullet and got this done saturday. #127 is the PR. Once approved the following needs to happen.

1 - The update.sh file needs to be move to the prod environment and needs `chmod 775` so lighthouse can execute it.
2 - An initial deployment of the changes needs to be done.
3 - `SLACK_HOOK_URL` environment variable needs to be applied to the prod environment ( I have this ).
4 - The `travis

[2018-11-05 20:48] tzarebczan opened #129 "Do not take into account mempool transactions"
We don't want to return search results or recommended content until it's confirmed so that we can resolve it.

[2018-11-06 02:07] #129 closed

[2018-11-07 16:14] alyssaoc commented on #95
@tiger5226 Can this issue be closed?

[2018-11-07 16:15] tiger5226 commented on #95
Yes it can be.

[2018-11-07 16:15] #95 closed

[2018-11-07 23:38] tzarebczan commented on #119
https://github.com/lbryio/lighthouse/pull/125 did not fix this issue. Removing the 2 at the end still gives better results (without the top claims).

[2018-11-08 15:03] tiger5226 commented on #119
@tzarebczan I checked the server, and there was an issue with the update shell script. It was in dev but not production. production should be up to date again.

[2018-11-13 00:10] seanyesmunt opened #132 "Lessen bid amount weight"
When making a search for `"LBRY is quickly gaining adoption"` (to fetch related content), which resides at `lbry://five`, the first result is `lbry://two`, which is `"Mary Jane- Her First Time Doing Porn 33 min"` and is not related at all.

This porn result comes in higher than the actual claim for this file because of it's high bid amount.

[2018-11-17 03:04] lyoshenka commented on #132
Do we have the right approach to improving search in general? It feels like what we're doing now is finding one or a few examples of bad results, then moving the weights around a bit to get a better result. Has this been fruitful so far? Should we be doing something else? How do more established search engines work?

[2018-11-17 03:05] seanyesmunt commented on #132
This can probably be put on hold. After some discussion it sounds like the search KPIs should be figured out first.

[2018-11-17 03:12] tiger5226 commented on #132
I agree @lyoshenka. That has been my train of thought as well. It has not been very fruitful in my opinion. We really can't keep tweaking weights in this manner. As @seanyesmunt stated, the KPIs need to be done before we tweak more weights. @tzarebczan made a final tweak to just lessen the weight much more so it is less of an issue going forward.

The KPIs need to be broad to avoid this scenario.

[2018-11-19 18:51] kauffj commented on #132
I think a very simple KPI for search is to record three things:

- The search version (and/or timestamp)
- The search term
- Was the user satisfied (yes or no)

[2018-11-19 20:49] tiger5226 opened #136 "Claim count status is wrong"
The result of the status call nr of claims is not the same thing as we are grabbing. In reality the logic is grabbing the number of times a claim was synced or processed since the last restart of elastic search.

The name of the field should be changed to reflect the logic or the logic should be changed to reflect the name. Preferably the latter.

[2018-11-19 21:34] kauffj opened #137 "Clearer README"
The README could make it a little more obvious how to just make a call to lighthouse and see sample results. E.g., by explicitly linking sample queries.

Prompted by @jessopb confusion over the link redirecting to the homepage and how to make a call.

[2018-11-19 22:00] tiger5226 commented on #106
From @kauffj [here](https://github.com/lbryio/lighthouse/issues/132#issuecomment-440001543)

This is interesting but I also think there is a level of importance to make sure we are delivering what we intend to delivery. We need to measure that with the specific weights certain scenarios still happen. An example would be a close edge case where we want a specific result. When we tweak the query we

[2018-11-19 22:07] kauffj commented on #106
@tiger5226 I hadn't seen your previous comment on 10/7. That API looks interesting/valuable, but at a cursory glance it doesn't seem suitable for directly collecting user feedback.

This is obviously a common problem for the space. I don't want to re-invent the wheel if there's already one out there. I sketched out a simple design because I didn't want to see the lack of a metric block iterating o

[2018-11-19 22:13] tiger5226 commented on #106
That API would be for measuring the impact to our "expected results" when we make a change. Sort of like a unit test for the search query. This would be in addition to collecting user feedback.

[2018-11-26 14:15] seanyesmunt commented on #109
@tiger5226 A little late to this, but yes.

[2018-12-12 15:22] BrannonKing opened #138 "Normalization Hardfork - Changes required"
This line needs to incorporate the returned name field: https://github.com/lbryio/lighthouse/blob/cb7151fa99997c6c376e8d28a4591611221ff226/server/utils/importer/index.js#L82

And a few lines below that, the use of the 'name' field will need to change to the 'normalized_name' field.

[2018-12-14 02:30] tiger5226 commented on #138
This section of code can be removed. Lighthouse no communicates with lbrycrd. It uses Chainquery. See below:

https://github.com/lbryio/lighthouse/blob/965746b9d26d6461424efbc1efb0e287fc2975bc/server/utils/chainquery/index.js#L158-L184

[2019-01-09 18:22] tzarebczan opened #139 "Add weight based on channel effective amount"
Currently, we add weight to claims based on their claim effective amounts - we should do something similar for channel effective amounts. This would ensure that channels with larger bids rank higher. I may have a large bid on my channel, but only smaller bids on each of my publishes. Think this would help in the case of searching for "Jordan B Peterson" - right now none of his channel's videos sho

[2019-01-10 01:12] tiger5226 commented on #139
This is for all claims. Identity and Stream claims. The impact for the weight has been lowered significantly. I suspect that is the issue here.

[2019-01-10 01:14] tzarebczan commented on #139
https://github.com/lbryio/lighthouse/blob/fa18e29a8a94c20c1cd9b792aff498cbbb54d7aa/server/controllers/lighthouse.js#L63 shows an effective amount..it's either the claim or the certificate one...how could it be both?

[2019-01-10 04:04] tiger5226 commented on #139
certificate_amount is the channel claim's effective_amount. I have adjusted to add weight for this and created a PR.

[2019-01-22 05:29] tiger5226 opened #142 "The Chainquery sync needs to be done in batches"
Right now, the sync if starting from scratch will grab all claims from chainquery. This transfers a huge amount of data. From recent events this will crash lighthouse with the volume of claims we currently have in the chain. There are a few PRs right that require a full resync of the claims. So this needs to be done first.

As part of the process, we need to do a full sync on another machine @niko

[2019-01-23 03:04] kauffj commented on #142
Should lighthouse just be using it's own independent chainquery instance?

[2019-01-23 03:12] tzarebczan commented on #142
That might be a good idea, but it's not what's causing the initial sync issue Mark mentioned here.

[2019-02-05 15:48] #137 closed

[2019-02-09 22:33] tiger5226 commented on #111
merged and deployed with #144

[2019-02-09 22:33] #111 closed

[2019-02-09 22:34] tiger5226 commented on #109
merged and deployed with #144

[2019-02-09 22:34] #109 closed

[2019-02-13 02:45] tiger5226 commented on #138
Based on the latest information, the following will need to happen to support the hardfork:

- [ ] Elasticsearch needs to store the normalized name of claims for proper search comparisons.
- [ ] We need to implement NFD Normalization for all search queries that come into the Search and AutoComplete API's The strings stored in elasticsearch will be normalized and we should search based on normalize

[2019-02-18 18:48] kauffj opened #145 "Add large negative weight to empty channels"
When returning channels, a user is almost certainly not looking for empty channels.

It'd probably also make sense to give a boost to large channels, but empty channels in particular should be given a large negative weight.

[2019-02-18 19:06] tzarebczan opened #146 "Add filter for content price (support free/paid, or above/below amount)"
Would be nice to search for free/paid content only, or even based on a kee fee threshold.

[2019-02-20 14:53] alyssaoc commented on #119
closing, reopen when tom comes back from Japan

[2019-02-20 14:53] #119 closed

[2019-02-24 22:00] tiger5226 commented on #142
I added a batching process to only grab 5000 claims at a time. This should make things much easier on node and allow @nikooo777 to continue to rebuild the lighthouse machine so we can merge the other PR too. Solved with 81986315cb98d5ad44b937eb41fe904d1ca0e36b.

[2019-02-24 22:00] #142 closed

[2019-02-25 02:53] tiger5226 commented on #139
merged and deployed

[2019-02-25 02:53] #139 closed

[2019-02-26 21:43] tiger5226 opened #148 "multi-word searches do not find channel/claim names"
For example searching `jordan peterson` does not find his channel when doing a channel search. However, searching `jordan` or `peterson` does.

Another example is `sword and scale`. Both `sword` and `scale` work fine but together it does not.

[2019-02-26 21:43] tiger5226 commented on #148
@kauffj @tzarebczan both identified this problem.

[2019-02-26 22:53] kauffj opened #149 "Test search performance with YouTube sync data"
The thousands of YouTubers syncing their channels provide a good test-case for tuning search. Presumably, the vast majority of these should be the first result when searching for their channel.

[2019-02-28 02:38] tiger5226 commented on #138
So I found this additional information. https://www.elastic.co/guide/en/elasticsearch/guide/current/unicode-normalization.html

We can add a custom icu analyzer for the name and channel names. I think we need to rebuild the database again with the right collation. @nikooo777. This would also modify the generate db script to ensure the right analyzer is used from the start. Also we should make sure

[2019-03-01 02:58] tiger5226 commented on #148
I was able to solve this by parsing the query into individual terms and adding sub queries for each term with a contains. I added this for claim name, author, title, and description.

[2019-03-01 02:58] #148 closed

[2019-03-03 16:35] tiger5226 commented on #138
So I did some more research here.

The standard analyzer defaults to treating all strings as unicode strings. They do have an `icu_analyzer` which is what I was referencing above. I originally understood that to mean that we had to apply that analyzer to our index. However, I was wrong. The reason they have this analyzer if incase you want to apply a custom token filter or character filter. These

[2019-03-03 16:35] #138 closed

[2019-03-05 04:42] tiger5226 commented on #145
We can't add negative weights. However, we could add a new field to the elastic search document that sets a value for `nr_claims_in_channel`. Then if its a channel the number will be `x`. We can then add weight to the search algo for that field. How much should we weight this is the question. This also puts it against claims too not just channels. I think this is ok if a channel becomes more relev

[2019-03-10 21:42] tzarebczan opened #150 "Search doesn't find content with exactly matching title"
@eggplantbren commented on [Sun Mar 10 2019](https://github.com/lbryio/lbry-desktop/issues/2318)

Feel free to close this if I've done something silly or misunderstood something.

## The Issue

Sometimes, when I search for something I know the exact title of, the search results cannot find that item (or it appears really low in the ranking).

### Steps to Reproduce

1.  Search for _Psychology of R

[2019-03-10 21:45] tzarebczan commented on #150
Thanks for opening the issue @eggplantbren! Search results are weighed by a variety of factors like where it finds a hit (title vs desc), how many times, LBC on the claim and possibly a few others. We can look into giving more weight for exact matches.

[2019-03-10 23:39] tiger5226 commented on #150
Unfortunately, we have adjusted the search algorithm to remove common words to prevent different aspects of weight forcing unrelated claims to the top of search.

So `Psychology of Redemption in Christianity` becomes `Psychology Redemption Christianity`. `of` and `in` are considered terms we exclude from search queries. Since there would no longer be a "perfect match" it does not find that exact t

[2019-03-10 23:56] eggplantbren commented on #150
I don't understand the technical parts, but even without `of` and `in`, why wouldn't that be a good match?

[2019-03-11 01:36] tiger5226 commented on #150
Good question. There are lots of claims with `Psychology` and `Christianity` in the name, title and description. There are different weights assign to different sub-queries, name is most valuable, then title then description. However, a claim with `Psychology` in the description 4 times would be more powerful than a claim with it just once. The way elasticsearch works in its primal form(more compl

[2019-03-12 18:25] tzarebczan opened #151 "Support new metadata / types"
Support new metadata added in types:
https://github.com/lbryio/types/blob/a6f2fd6d5f382f0012383b9076d650c1f6791ada/v2/proto/claim.proto#L29

Also, NSFW/Mature field is changing to a tag

[2019-03-13 02:12] tiger5226 commented on #151
This should happen automatically once Chainquery is able to parse the latest version of the proto files. Once this is live we can just test that it shows in the search result's value.

[2019-03-13 22:19] eggplantbren commented on #150
It looks quite complex to weight the different factors in a search. However, for reference, Google, Duckduckgo, Bing, and Youtube search all gave that video as the first result, and I think searches that include a few uncommon keywords that are all in a single title should generally return that title as a top result.

I can find other examples if you like.

[2019-03-13 22:35] tzarebczan commented on #150
Thanks for the feedback. It's the main reason we also added the thumbsdown button:
![image](https://user-images.githubusercontent.com/8120721/54319071-c30ca780-45be-11e9-923e-c0522970335f.png)

(cc: @tiger5226 )

[2019-03-13 23:21] tiger5226 commented on #150
Bahahahahaha...I love this!

[2019-03-13 23:31] tiger5226 commented on #150
@eggplantbren I agree. Search is very complex unfortunately, especially when you get into weights were there is an optimization that needs to happen. Google had a novel idea to use backlinks to show the importance of content. We have made great strides but there is still much more that can be done as you correctly point out. Another idea I have been looking into is to have something akin to backli

[2019-03-14 00:02] eggplantbren commented on #150
That's unsurprising.

Sorry if this is a silly issue.

[2019-03-14 00:33] tiger5226 commented on #150
Certainly isn't. Not all scenarios end up that way. Actually, as I noted above, this particular case should be resolvable without side effects which is great. Identifying an issue is the 1st step to making the software better! Thanks for reporting it!

[2019-03-14 03:59] tzarebczan opened #152 "missing results from channel @NorVegan"
https://lighthouse.lbry.io/search?s=%40NorVegan&size=30&from=0&claimType=file,channel&mediaType=audio,video,text,image,application,

Should have: lbry://@NorVegan

[2019-03-28 23:37] eggplantbren commented on #150
This is probably a related issue, and it seems to be worse on this content in particular, but I find it bizarre that the recommendations here don't contain things from the same series in the same channel with the first few words of the title matching.

![image](https://user-images.githubusercontent.com/1578298/55199593-67c5f080-521f-11e9-8e44-e68ca2b2b77c.png)

[2019-03-29 01:52] eggplantbren commented on #132
It's probably a good idea to use log(bid + 0.1) or some similar nonlinear function of the bid for this.

[2019-04-12 05:18] seanyesmunt opened #153 "Add ability to search for files and channels, and also include file filters"
It would be really helpful to be able to search for "bitcoin" and request channels, _and only_ audio files.

Right now, if a `mediaType` is included, no channels are included in results.

[2019-05-20 17:32] tzarebczan opened #154 "Search for SwissExperiments doesn't return @Swiss-Experiments channel"
`Swiss Experiments` does work. We should take into account the - when searching.

[2019-05-24 03:08] tiger5226 commented on #154
This is an interesting one. We can't really know that `SwissExperiments` should be split into `Swiss Experiments`. Elastic search does already recognize the `-` and will treat it as 2 words. Also our query will escape the reserved character so the actual text `Swiss-Experiments` will work fine due to the sloppy factor. Searching for `Swiss` or `Experiments` will also work fine because elastic sear

[2019-05-31 21:50] tzarebczan opened #155 "Internal server error on some urls"
https://lighthouse.lbry.com/autocomplete?s=@swiss%20experiments

[2019-06-01 01:31] tiger5226 commented on #155
reproduced it locally

error: `TypeError: Cannot read property 'metadata' of null`

for

[code]

specifically `var title = pResult._source.value.stream.metadata.title`.

[2019-06-01 01:33] tiger5226 commented on #155
So a `stream` is not undefined but it's null?

@seanyesmunt Should I be checking for both null and undefined?

[2019-06-01 01:43] tzarebczan commented on #155
Is it pulling from the json data in CQ? Ew. The structure changed with updates....it's just `source.value.title` now, but it should just pull from the CQ table directly instead.

[2019-06-01 01:46] tiger5226 commented on #155
Yes it is and yeah, agreed. Will be changing that. However, Chainquery is backwards compatible. So that should not be the problem. I made the changes in chainquery to not change the structure of that json column. It was a little extra work but it made sure the API ( SQL queries ) would not break. This is something else.

I am checking `undefined` but not null and it looks like the first check is c

[2019-06-01 01:49] tiger5226 commented on #155
chainquery https://github.com/lbryio/chainquery/blob/94a8ea83e14bd6815814d8f5c02ae8156dffc1d3/daemon/processing/metadata.go#L50-L85

[2019-06-01 01:52] tzarebczan commented on #155
It's a channel, it won't even have a stream section.

This is what I'm seeing on CQ in value as json.
[code]

[2019-06-01 01:55] tiger5226 commented on #155
yeah, and I am checking `undefined` but its `null`.

 https://www.ajaymatharu.com/javascript-difference-between-undefined-and-null/

Based on the above I think I need to check for both null and undefined. Changing this now to see if its resolved.

[2019-06-01 02:12] tiger5226 commented on #155
fixed with 3a061df1a4ebd536a49d95d2dd446faad4345a9b

[2019-06-01 02:12] #155 closed

[2019-06-01 19:39] eggplantbren commented on #150
Here's another pretty bizarre search result. "levitation baby mackenzie" fails to return `lbry://six#441c77b2dcd6cc344904d3746f04060a02414a5c`

[2019-06-02 16:26] tzarebczan commented on #150
Can confirm the above, but it does return under just `mackenzie`. Also returns for `Mackenzie levitation` but not `Mackenzie levitation baby`.

[2019-06-10 16:48] tzarebczan opened #156 "search for eevblog does not return eevblog2 channel"
https://lighthouse.lbry.com/search?s=%40eevblog&size=10&from=0&claimType=channel

```[{"name":"@eevblog","claimId":"74333143a3dcc001a5602aa524583fc75a013d75"},{"name":"@eevblog","claimId":"8986215dbdd68195bc8db11a1901dc6c8a7a3566"},{"name":"@eevblog","claimId":"974603a046fd85b3d45aed99e6aea99800e31713"},{"name":"@eevblog","claimId":"23aae969baf862396cd3b8d452c1ebf52765c175"},{"name":"@EEVblog","cl

[2019-06-11 16:37] tzarebczan opened #157 "Search for `linux gamer` doesn't return @TheLinuxGamer"
searching `linuxgamer` / `thelinuxgamer` does

We should probably start searching channel titles/description with the new metadata too

[2019-06-12 03:14] tiger5226 commented on #157
It looks like elasticsearch has a feature we can leverage called [Word Delimiter Token Filter](https://www.elastic.co/guide/en/elasticsearch/reference/6.1/analysis-word-delimiter-tokenfilter.html).

[this](https://www.elastic.co/guide/en/elasticsearch/reference/6.1/analysis-asciifolding-tokenfilter.html) appears to be an example of how to set it for a different filter but looks applicable.

[2019-06-12 03:18] tiger5226 commented on #156
This appears to be solvable by the filter mentioned in #157 via a default parameter called `split_on_numerics`. It will create two tokens for the name field `eevblog` and `2`. Then searching eevblog will return eevblog2. However, something like this is risky. I am not sure we can do much about it but you could get some wierd results due to this split even though it appears completely unrelated.

[2019-06-17 06:38] m160 commented on #150
Here's another example:
If I search 'Final Fantasy VIII Remastered: Nintendo Switch trailer E3 2019' I should get a result leading to this claim: lbry://y2matecom-finalfantasyviiiremasterednintendoswitchtrailernintendoe32019ywNYKWQEbZI1080p#ca73086e3d897c8a77935fd63f7ef5f48b0d34f8

But that claim is nowhere to be found in the search results.

[2019-06-17 06:40] eggplantbren commented on #150
I just realised this could be because chainquery is playing up and I think
search might use that (but I could also be wrong about this).

On Mon, Jun 17, 2019 at 6:38 PM Michael H. <notifications@github.com> wrote:

--
Dr Brendon J. Brewer
Department of Statistics, The University of Auckland, New Zealand
Ph: +64 27 500 1336
Web: https://www.brendonbrewer.com/

[2019-06-22 21:09] m160 commented on #150
Similar to the example above. If I search **morgonaut**, the channel @morgonaut should come up as a result (lbry://morgonaut/#118d5abf71473407d12eed67802daa3193d4b330). Instead the channel @Hackintosh comes up (lbry://@Hackintosh#f07599446da48a01e6836c307cbfdbe5a547827c).

Both of these channels are made by the same person and have the same content on them. Not sure why only one of them comes up.

[2019-06-22 21:17] tzarebczan commented on #150
Mark is already looking into that one, thanks.

[2019-07-13 00:14] tiger5226 commented on #152
It doesn't because its a channel and their is no media type for a channel. Remove the media type filter and it shows.

[2019-07-13 00:14] #152 closed

[2019-07-13 01:08] tiger5226 commented on #154
This is now fixed with the latest push to master. We have removed query washing for phrase matching and partial string comparison.

[2019-07-13 01:08] #154 closed

[2019-07-13 01:09] tiger5226 commented on #150
All of these cases listed are resolved except for the spent one. This is now fixed with the latest push to master. We have removed query washing for phrase matching and partial string comparison.

[2019-07-13 01:09] #150 closed

[2019-07-13 01:12] eggplantbren commented on #150
Fantastic, thanks!

On Sat, 13 Jul 2019, 1:09 PM Mark, <notifications@github.com> wrote:

[2019-07-14 01:05] tiger5226 commented on #157
I was able to fix this via adding sub queries that check the concatenation of search terms. So `Linux Gamer` becomes: `Linux`, `Gamer`, and `LinuxGamer`. This is now properly found as a substring for the channel name.

It ranks 37 now with https://lighthouse.lbry.com/search?s=Linux%20Gamer&size=50

[2019-07-14 01:05] #157 closed

[2019-07-16 01:49] eggplantbren commented on #150
`psychology of redemption in christianity` still doesn't return that JBP vid for me, nor does `psychology redemption christianity'. `levitation baby mackenzie' works (finds my new claim for the same content)

[2019-07-16 22:21] tiger5226 commented on #150
It does show up now https://lighthouse.lbry.com/search?s=Psychology%20of%20Redemption%20in%20Christianity&size=225

it's just not in the top 10 results. The claim name holds more prominence than the title. I think this is just a case of SEO. They should claim a better name than `jp-DtiRzQMgBDM`. Thoughts?

[2019-07-16 22:26] eggplantbren commented on #150
Interesting, thanks. I am slightly surprised about the name counting more than the title. On the one hand I understand how important names are in the LBRY system, but I think people tend to put more thought into the title than the claim name. Might be worth experimenting with different weightings?

[2019-07-16 23:34] tiger5226 commented on #150
I increased the weighting of names because there were 2 other issues dealing with Channels not being returned in search results. Weights venture into a very sensitive area for search. There are many gives and takes. Like if we think the title is more important, then common words in titles will push channels down in the search results since they are based on the name.

I am certainly open to tweaki

[2019-07-17 03:35] kauffj commented on #150
@tiger5226 can channels and streams be given different treatments?

Either way, I think it would be a good idea to write a utility that searches the names and titles of the top `n` streams and channels and reports on what percentage appear in the top `m` results. This could then be used to tune parameters to find the values that hit the highest percent.

[2019-07-17 22:30] tzarebczan opened #159 "Don't return irrelevant search results if there are no matches"
For instance, https://beta.lbry.tv/$/search?q=sadasfshagflkjshg should not return any claims since that text does not match anything in the results.

[2019-07-18 02:37] tiger5226 commented on #150
So I did some research on this. We do leverage filters for the api. A `bool` query is what can have the `filter` sub query. So right now these additional queries added can be put inside a bool query with a `should` along with a `filter`. Then we can use the filter to make sure it only searches channels for these additional query added for channel names anyway.

Regarding the utility...you are righ

[2019-07-18 02:40] tiger5226 commented on #150
maybe we scale the KPI score:

1 - it does not appear in the results ( max is 10K )
2 - it does not appear in the top 500 results
3 -  " " " top 100 results
4 -  " " " top 50 results
5 -  " " " top 10 results

[2019-07-18 11:09] kauffj commented on #150
@tiger5226 nice!

Yes, I was proposing to take the top YouTube creators by subscribers or views (maybe both) from our database.

In terms of where to output the KPI, I think it'd be better to write it to something readable by metabase.

A more dynamic scoring is a cool idea, but I would weight it more strongly towards needing to be in the top, e.g.

10 - 1st result
8 - Top 3 results
5 - First page

[2019-07-18 23:08] eggplantbren commented on #150
Are you proposing using youtube subscribers as part of LBRY's search metric? That sounds terrible but hopefully I just misunderstood.

[2019-07-19 00:15] tiger5226 commented on #150
No not as part of the search metric but for the sampling. When taking a KPI ( key performance indicator ), we need a sample. Ideally we have a meaningful sample rather than a random sample. Most viewers are looking for specific creators on the platform and use search to find them. So grabbing the sample from the creators with high views or subscribers gives us an idea of how likely someone is to s

[2019-07-19 00:16] eggplantbren commented on #150
That makes sense, thanks for clarifying.

On Fri, Jul 19, 2019 at 12:15 PM Mark <notifications@github.com> wrote:

--
Dr Brendon J. Brewer
Department of Statistics, The University of Auckland, New Zealand
Ph: +64 27 500 1336
Web: https://www.brendonbrewer.com/

[2019-07-19 00:19] tiger5226 commented on #150
@kauffj expecting things to be in the top 10 will probably be volatile and less meaningful because the results are 10K and it makes the KPI very binary. However, I see it's where we want to be so we should probably try it first and if it does turn out to be volatile, we can easily tweak it.

[2019-07-23 21:29] tzarebczan opened #160 "autocomplete search results case sensitive?"
Would expect https://lighthouse.lbry.com/autocomplete?s=MinutePhysics to return lbry://@MinutePhysics but it doesn't. https://lighthouse.lbry.com/autocomplete?s=MinutePhysics does

[2019-07-25 00:10] tzarebczan opened #161 ""world war two" search doesn't return @worldwartwo"
"world war two" search doesn't return @worldwartwo

[2019-07-26 00:36] tiger5226 commented on #161
We can fix this by adding a subquery that removes spaces, so it searches for "worldwartwo" as well.

[2019-08-13 14:40] m160 opened #162 "Searches with forward slashes returns no results"
When searching **GNU/Linux**, or **cats/dogs**, or any search that contains a forward slash, it returns no results.

[2019-08-13 21:06] tzarebczan commented on #161
Same for "games glitches" doesn't return @gamesglitches

[2019-08-13 21:07] tzarebczan commented on #161
Please fix soon if you can, this is pretty bad.

[2019-08-13 22:05] kauffj commented on #161
I think it makes sense to build the script/tool/utility that runs this against all known channels rather than fixing cases one at a time. Then we can tune search algo til it succeeds in 99+% of all known cases.

[2019-08-14 03:08] tiger5226 commented on #162
hmmm, this appears to work fine with the api https://lighthouse.lbry.com/search?s=GNU/Linux

Can you confirm? If it works in the api and not in the app, then I can move this issue to the app repo.

[2019-08-14 06:35] m160 commented on #162
Yes, that seems to be working. Here's a screenshot of the app:
![Screenshot from 2019-08-14 08-32-52](https://user-images.githubusercontent.com/34570404/62999344-70d1fa00-be6e-11e9-9397-57677ef572b3.png)

[2019-08-14 10:44] tzarebczan commented on #162
Looks like it's an app side bug, will move over there.

[2019-08-19 04:16] seanyesmunt opened #163 "option (or default?) to return canonical_url"
Both `lbry-desktop` and `lbry-android` are moving to use `claim.canonical_url` everywhere. It would be helpful if lighthouse returned results in that format.

[2019-08-21 00:55] tiger5226 commented on #163
Sounds like a good improvement. I will need to implement this, most likely I will add a column in chainquery for this since I think we need to know about other claims.

[2019-09-16 14:55] tzarebczan opened #166 "Parameter to block mature content / list of tags"
Today on the app side we block mature content after it's returned from Lighthouse. Instead, we'd want to be able to pass a list of tags that we want to exclude from results.

We should also be able to pass a list of tags to include in results as well.

[2019-09-18 19:25] tzarebczan opened #167 "partial search matches for channels (with @ in front) don't return properly"
If you remove the @, `thecrazygamer` returns the channel correctly. I don't think the desktop app should be responsible for stripping this off.  `@thecrazygamer16` also returns correctly.

[2019-09-19 19:37] tzarebczan opened #168 "Add searching by channel id (in addition to channel)"
https://github.com/lbryio/lighthouse/pull/94/files added the ability to search by a channel name. We recently added this to channel pages in the app, but just realized that channel name is not specific enough in this context. We need to add the channel id as a parameter.

[2019-09-19 19:38] tzarebczan commented on #168
This could be the same param, but accept something like @jiggytom#asdadasdada

[2019-09-22 05:52] tiger5226 commented on #167
It's in the results just not the top 1000 when searched that way. It is a weight issue it appears. I can resolve it by setting a high weight for a prefix check without the `@`. However, it could impact other results too. I created a PR with this change.

[2019-09-24 12:51] tzarebczan commented on #168
This was completed, thanks @tiger5226 !

[2019-09-24 12:51] #168 closed

[2019-09-24 12:55] tzarebczan opened #171 "numeric claim names have leading zeros stripped (causes app issues)"
Example:
From LH: ```{"name":22605,"claimId":"fcff69fd9cc7cb9dbe23e3e70378ee4c9f9761b6"}```

Actual claim name is 0022605.

This causes https://github.com/lbryio/lbry-desktop/issues/2864

[code]

[2019-10-10 23:02] nikooo777 opened #173 "Change weight by channels to eliminate unnecessary results"
I know what to do, opening because I couldn't get it done by today.

[2019-10-14 21:16] tzarebczan opened #174 "Allow sort by date"
@tiger5226 and I discussed this some time ago, it should be possible: https://www.elastic.co/guide/en/elasticsearch/reference/6.3/search-request-sort.html

[2019-10-15 20:36] #173 closed

[2019-10-15 21:11] nikooo777 commented on #149
I'm going to draft out what I think a reasonable first search benchmark could be.

In order to test whether our changes improve or worsen results we need to define criteria that we want to satisfy.
Such criteria can be either true or false or "discrete" (over 60%, between 2 and 6, ...).

So long as those criteria are satisfied, we consider the test as satisfactory. More and more criteria can be ad

[2019-10-16 13:10] kauffj commented on #149
Once a first version is "finished" can results be written on a regular interval to a data source readable by metabase?

[2019-10-16 13:22] #161 closed

[2019-10-16 13:29] kauffj commented on #160
Using #149

[2019-10-16 13:29] #160 closed

[2019-10-16 13:29] kauffj commented on #149
Per #160, make sure to test casing as well.

[2019-10-21 15:23] tzarebczan opened #175 "Search for "paul vanderklay" should return @PaulVanderklay in top result"
Most likely related to the space/weight we put on the first word.

@nikooo777 consider these as part of your script

I believe it has a higher weight than most of the other channels as well.

[2019-11-05 03:50] tzarebczan opened #177 "searches with @ in front should prioritize channel results over files"
i.e. search for @juggling

@nikooo777 is aware of this one.

[2019-11-22 20:02] tzarebczan opened #178 "support claims in takeover"
@jsigwart recently made a claim at @dogs which is in takeover, and it never makes it to lighthouse/search results. This claim should at least be searchable. The effective amount would be 0 during takeover - this is probably why it doesn't get imported. Can we use the bid amount until the takeover is complete (and the record will update in chainquery)?

[2019-11-25 16:46] tzarebczan opened #179 "Add negative weight to content without thumbnails"
Content without thumbs is less likely to be clicked and looks like noise in search results.

[2019-12-04 22:02] kauffj opened #180 "Search Next Steps"
- [ ] Ensure all new deployments to lighthouse (that change algorithm) are captured in search benchmarks
- [ ] If looking for subjective feedback, use Discord when shipping (consider a poll)
- [ ] @nikooo777 @tiger5226 aggressively deploy whatever changes they think will have largest effect

[2019-12-04 22:13] tiger5226 opened #181 "stop filtering out words less than 4 characters"

[2019-12-06 19:31] kauffj commented on #166
@tzarebczan fyi @tiger5226 is about to go hog wild on elastic so if you've got ideas now is the time to bring them :stuck_out_tongue:

[2019-12-09 21:28] tzarebczan commented on #153
@tiger5226 do you know if this is possible?

[2019-12-16 16:41] tiger5226 commented on #177
Done

[2019-12-16 16:41] #177 closed

[2019-12-16 16:45] tiger5226 commented on #174
Sorts are dangerous because it ignores relevance which is what elastic search is good at. I have added some features to the query to ensure relevance is adhered to. So its more possible to do this now. However, I think @nikooo777 's change is awesome enough and it's showing relevant things. However, we may want to still add this along with duration recommended by @jessopb and @eukreign.

[2019-12-16 16:45] tiger5226 commented on #181
Done.

[2019-12-16 16:45] #181 closed

[2019-12-16 16:46] tiger5226 commented on #178
Its the result of us filtering out claims in the `accepted` state in the query itself. I can remove this filter.

[2019-12-16 16:56] tiger5226 commented on #175
release time was trumping it. I lowered the weights on release time and it's at the top.

[2019-12-16 16:56] #175 closed

[2019-12-16 16:57] tiger5226 commented on #167
fixed

[2019-12-16 16:57] #167 closed

[2019-12-16 16:58] tiger5226 commented on #159
Done

[2019-12-16 16:58] #159 closed

[2019-12-16 16:58] tiger5226 commented on #151
Done

[2019-12-16 16:58] #151 closed

[2019-12-16 17:01] tiger5226 commented on #49
done

[2019-12-16 17:01] #49 closed

[2019-12-16 17:02] tiger5226 commented on #171
resolved https://lbry.tv/$/search?q=0022605

[2019-12-16 17:02] #171 closed

[2019-12-16 17:04] tiger5226 commented on #121
this is now resolved. It wasn't description weight.

[2019-12-16 17:04] #121 closed

[2019-12-16 17:07] tiger5226 commented on #153
We could the normal search and instead of returning claim name and and claimids, we can return their channel name and channel claim id. Would that give the result you are looking for when both parameters are passed?

[2019-12-16 17:08] tiger5226 commented on #166
There is now a search parameter for nswf that takes true/false and filters. If you dont care dont pass it.

[2019-12-16 17:08] #166 closed

[2019-12-16 17:11] tiger5226 commented on #136
The status response has been completely rewritten to provide valuable information

[2019-12-16 17:11] #136 closed